

body{
    background-color: #DBE3FA;
    width: 940px;
    position: relative;
    margin: 100px auto;
}

.esqueleto{
    display: flex;
}

.cajas-texto {
    display: block;
    flex-direction: row; /* Alinear en la misma fila */
    align-items: flex-start;; /* Alinear verticalmente */
}

.cajas-texto2 {
   
    flex-direction: row; /* Alinear en la misma fila */
    align-items: flex-start;; /* Alinear verticalmente */
}

.input-encriptar {
    font-size: 20px;
    font-weight: bold;
    background-color: #DBE3FA;
    margin: 0px 0px 0px 25px;
    border: none;
    border-radius: 20px;
    padding: 10px  
    
}

.input-desencriptar{
    margin: 0px 0px 0px 31px;
    border: none;
    border-radius: 20px;
    padding: 10px
}



.advice{
    
    font-size: inherit;
    font-size: 15px;
    font-weight: bold;
    margin : 15px 0px 20px 58px;

}

.btns{
    margin : 0px 0px;
    position: relative;
    top: 421px; /* Ajusta el valor según la posición deseada */
}

.btns p{
    margin : 19px -33px;
    color: #5065A2;
    
}

.boton-encriptar{

    font-size: inherit;
    width: 300px;
    height: 80px;

    /*cambiando la letra*/
   font-size: 15px;
   font-weight: bold;
   color:white;
   background: #A98DB6 ;
    /*quitar borde del boton y las puntas*/
   border: none;
   border-radius: 20px;
   margin: 0px 33px 0px 0px;

}

.boton-desencriptar{

    font-size: inherit;
    width: 300px;
    height: 80px;

    /*cambiando la letra*/
    font-size: 15px;
    font-weight: bold;
    color:white;
    background: #B9BCC2;

   /*quitar borde del boton y las puntas*/
   border: none;
   border-radius: 20px;



}


.advice{
    margin: 0px 0px 0px 0px;

}

.advice::before {
    content: "!";
    background-color: #495057;
    border-radius: 100%; /* Hace que el símbolo de exclamación sea circular */
    font-size: 8px;
    color: white;
    text-align: center;
    margin: 0px 40px; 
    padding: 6px; /* Añade espacio alrededor del símbolo de exclamación para que la sombra sea visible */
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5); /* Crea una sombra circular alrededor del símbolo de exclamación */
}


.imagen{
    position: relative;
    bottom: 643px;
    left: 794px;
}

.boton-copiartexto{

    width: 300px;
    height: 80px;
    display:none;
    /*cambiando la letra*/
    font-size: 15px;
    font-weight: bold;
    color:#5065A2;
    background-color: transparent;
   /*quitar borde del boton y las puntas*/
    border-radius: 20px;
    position: relative;
    bottom: 94px;
    left: 824px;
}